* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.outer-container {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../space.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.outer-container::before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    opacity: 1;
    /* z-index: -1; */
}

.nav-bar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
}
.nav-bar > div > ion-icon {
    font-size: 1.3rem;
    color: white!important;
}
.language {
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: auto;
    margin-right: 4rem;
}

.main-title {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    color: white;
    text-align: center;
}

.sub-title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.9rem;
    color: white;
    width: 100%;
    text-align: center;
}

.detail-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.play-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-container > svg {
    fill: white;
    height: 4rem;
    width: 4rem;
}

.download-btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.download-btn > svg {
    fill: white;
    height: 3rem;
    width: 3rem;
}

.story {
    line-height: 1.5;
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


@media (max-width: 400px) {
    .detail-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 8rem;
    }
    .download-btn {
        display: none;
    }
    .story {
        display: none;
    }
    .main-title {
        font-size: 2rem;
        text-align: center;
    }
    .sub-title {
        font-size: 1rem;
    }
}


@media (max-width: 1080px) {
    .detail-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 15rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main-title {
        font-size: 7rem;
        text-align: center;
    }
    .sub-title {
        font-size: 2rem;
    }
}


@media (max-width: 880px) {
    .detail-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 15rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
    }
    .story {
        display: none;
    }
    .download-btn {
        display: none;
    }
    .main-title {
        font-size: 6rem;
        text-align: center;
    }
    .sub-title {
        font-size: 2rem;
    }
}

@media (max-width: 550px) {
    .detail-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 15rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
    }
    .story {
        display: none;
    }
    .download-btn {
        display: none;
    }
    .main-title {
        font-size: 4rem;
        text-align: center;
    }
    .sub-title {
        font-size: 1rem;
    }
}

